body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el menú responsive */
.menu {
    background-color: #333;
    text-align: center;
margin-bottom: 30px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline-block;
    margin-right: 20px;
}

.menu ul li:last-child {
    margin-right: 0;
}

.menu ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.menu ul li a:hover {
    background-color: #555;
}


header {
    background: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1, h2 {
    margin: 0 0 20px 0;
}

#totals {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#totals h2 {
    margin-bottom: 10px;
}

form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.form-group {
    flex: 1 0 23%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.form-group input, .form-group select, .form-group textarea {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    height: 60px;
}

button[type="submit"] {
    background: #0066cc;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

button[type="submit"]:hover {
    background: #005bb5;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background: #f4f4f4;
}

.actions {
    display: flex;
    gap: 10px;
}

.actions button {
    background: #0066cc;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.actions button:hover {
    background: #005bb5;
}

/* Estilos para los totales */
#totales {
    margin-top: 20px;
    display: flex;
    justify-content: space-between; /* Para distribuir los elementos uniformemente */
}

.total {
    width: calc(33.33% - 10px); /* Calcula el ancho para que sean 3 columnas con espacio entre ellas */
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.total h3 {
    margin-top: 0;
    font-size: 18px;
    color: #333;
}

.total-value {
    font-size: 24px;
    font-weight: bold;
    color: #007bff; /* Color azul para resaltar */
}


@media (max-width: 768px) {
    .form-group {
        flex: 1 0 100%;
    }
}

/* Media queries para hacer responsive la página */
@media (max-width: 768px) {
    .menu ul li {
        display: block;
        margin: 10px 0;
    }

    #totales {
        flex-direction: column; /* Cambia la dirección de los divs en dispositivos móviles */
    }

    .total {
        width: 100%; /* Ocupa el ancho completo en dispositivos móviles */
        margin-bottom: 10px; /* Añade espacio entre los totales en dispositivos móviles */
    }
}

/* Estilos para el footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container-footer {
    width: 80%;
    margin: 0 auto;
}
